@import url("https://fonts.googleapis.com/css2?family=Share+Tech&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: "Share Tech", sans-serif;
  color: #000000;
  margin: 0;
  padding: 0;
}

.fadeUp {
  animation: fadeUp 0.6s ease forwards;
  transform: translateY(20px);
  opacity: 0;
}
@keyframes fadeUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
.fadeLeft {
  animation: fadeLeft 0.6s ease forwards;
  transform: translateX(-20px);
  opacity: 0;
}
@keyframes fadeLeft {
  from {
    transform: translateX(-20px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
.fadeRight {
  animation: fadeRight 0.6s ease forwards;
  transform: translateX(20px);
  opacity: 0;
}
@keyframes fadeRight {
  from {
    transform: translateX(20px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
